body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

#custom-upload-button{
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size:16 px;
  transition: background-color 0.3s;
  margin-bottom:20px;
}

#custom-upload-button:hover {
    background-color: #0056b3;
}

#image-preview-container {
  border: 2px dashed #ccc;
  padding: 10px;
  min-height: 100px; /* jaga ruang agar tidak kosong*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border-radius: 5px;
}

#image-preview {
  max-width: 100%;
  max-height: 250px;
  border-radius: 4px;
  object-fit: contain; /* Memastikan gambar terlihat baik */
}

#file-name-display{
  margin-top: 10px;
  font-style: italic;
  color: #555;
  word-wrap: break-word; /* Mencegah nama file yang panjang keluar */
}

